.portfolio,.section-blog {
    text-align: center;
}

.portfolio .block.first,.section-blog .block.first {
    margin-left: 0!important;
    clear: left;
}

.portfolio .thumbnail:hover h2 a,.section-blog .thumbnail:hover h2 a {
    color: #f7682c;
}

.portfolio .thumbnail:hover .img_grayscale,.section-blog .thumbnail:hover .img_grayscale {
    opacity: 1!important;
    filter: alpha(opacity=100)!important;
}

.portfolio .screenshot,.section-blog .screenshot {
    position: relative;
}

.portfolio .carousel,.section-blog .carousel {
    margin-bottom: 0;
}

.portfolio .thumbnails .row-fluid,.section-blog .thumbnails .row-fluid {
    margin-top: 20px;
}

.portfolio .thumbnails .row-fluid:first-child,.section-blog .thumbnails .row-fluid:first-child {
    margin-top: 0;
}

.portfolio .thumbnail img,.section-blog .thumbnail img {
    width: 100%;
}

.portfolio .carousel-nav ul,.section-blog .carousel-nav ul {
    list-style: none;
    margin: 0;
    display: inline;
    padding: 0 10px;
    background: #fff;
    position: relative;
    z-index: 1;
}

.portfolio .carousel-nav li,.section-blog .carousel-nav li {
    display: inline-block;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 4px;
    margin-left: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
}

.portfolio .carousel-nav li:first-child,.section-blog .carousel-nav li:first-child {
    margin-left: 0;
}

.portfolio .carousel-nav li a,.section-blog .carousel-nav li a {
    display: block;
    padding: 7px;
    position: relative;
    top: -8px;
    left: -8px;
    width: 20px;
    height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.portfolio .carousel-nav li.active span,.section-blog .carousel-nav li.active span,.portfolio .carousel-nav li:hover span,.section-blog .carousel-nav li:hover span {
    background: #f7682c;
    display: block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    width: 5px;
    height: 5px;
}

.portfolio .carousel-nav .carousel-control,.section-blog .carousel-nav .carousel-control {
    display: none;
    top: 50%;
}

.portfolio .carousel>.carousel-nav:before,.section-blog .carousel .carousel-nav:before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #ddd;
    position: relative;
    top: 7px;
    z-index: 0;
}