@font-face {
    font-family: 'SourceSans';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'SourceSans';src:url('../fonts/SourceSansPro-Semibold-webfont.eot');src:url('../fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Semibold-webfont.woff') format('woff'), url('../fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'), url('SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');font-weight:600;font-style:normal;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

code,kbd,pre,samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,q:after {
    content: '';
    content: none;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,input {
    line-height: normal;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.column,.columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    margin-bottom: 20px;
}

.column.alpha,.columns.alpha {
    margin-left: 0;
}

.column.omega,.columns.omega {
    margin-right: 0;
}

.container .one.column {
    width: 40px;
}

.container .two.columns {
    width: 100px;
}

.container .three.columns {
    width: 160px;
}

.container .four.columns {
    width: 220px;
}

.container .five.columns {
    width: 280px;
}

.container .six.columns {
    width: 340px;
}

.container .seven.columns {
    width: 400px;
}

.container .eight.columns {
    width: 460px;
}

.container .nine.columns {
    width: 520px;
}

.container .ten.columns {
    width: 580px;
}

.container .eleven.columns {
    width: 640px;
}

.container .twelve.columns {
    width: 700px;
}

.container .thirteen.columns {
    width: 760px;
}

.container .fourteen.columns {
    width: 820px;
}

.container .fifteen.columns {
    width: 880px;
}

.container .sixteen.columns {
    width: 940px;
}

.container .one-third.column {
    width: 300px;
}

.container .two-thirds.column {
    width: 620px;
}

.container .offset-by-one {
    padding-left: 60px;
}

.container .offset-by-two {
    padding-left: 120px;
}

.container .offset-by-three {
    padding-left: 180px;
}

.container .offset-by-four {
    padding-left: 240px;
}

.container .offset-by-five {
    padding-left: 300px;
}

.container .offset-by-six {
    padding-left: 360px;
}

.container .offset-by-seven {
    padding-left: 420px;
}

.container .offset-by-eight {
    padding-left: 480px;
}

.container .offset-by-nine {
    padding-left: 540px;
}

.container .offset-by-ten {
    padding-left: 600px;
}

.container .offset-by-eleven {
    padding-left: 660px;
}

.container .offset-by-twelve {
    padding-left: 720px;
}

.container .offset-by-thirteen {
    padding-left: 780px;
}

.container .offset-by-fourteen {
    padding-left: 840px;
}

.container .offset-by-fifteen {
    padding-left: 900px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }

    .container .column,.container .columns {
        margin-left: 10px;
        margin-right: 10px;
    }

    .column.alpha,.columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }

    .column.omega,.columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }

    .container .one.column {
        width: 28px;
    }

    .container .two.columns {
        width: 76px;
    }

    .container .three.columns {
        width: 124px;
    }

    .container .four.columns {
        width: 172px;
    }

    .container .five.columns {
        width: 220px;
    }

    .container .six.columns {
        width: 268px;
    }

    .container .seven.columns {
        width: 316px;
    }

    .container .eight.columns {
        width: 364px;
    }

    .container .nine.columns {
        width: 412px;
    }

    .container .ten.columns {
        width: 460px;
    }

    .container .eleven.columns {
        width: 508px;
    }

    .container .twelve.columns {
        width: 556px;
    }

    .container .thirteen.columns {
        width: 604px;
    }

    .container .fourteen.columns {
        width: 652px;
    }

    .container .fifteen.columns {
        width: 700px;
    }

    .container .sixteen.columns {
        width: 748px;
    }

    .container .one-third.column {
        width: 236px;
    }

    .container .two-thirds.column {
        width: 492px;
    }

    .container .offset-by-one {
        padding-left: 48px;
    }

    .container .offset-by-two {
        padding-left: 96px;
    }

    .container .offset-by-three {
        padding-left: 144px;
    }

    .container .offset-by-four {
        padding-left: 192px;
    }

    .container .offset-by-five {
        padding-left: 240px;
    }

    .container .offset-by-six {
        padding-left: 288px;
    }

    .container .offset-by-seven {
        padding-left: 336px;
    }

    .container .offset-by-eight {
        padding-left: 348px;
    }

    .container .offset-by-nine {
        padding-left: 432px;
    }

    .container .offset-by-ten {
        padding-left: 480px;
    }

    .container .offset-by-eleven {
        padding-left: 528px;
    }

    .container .offset-by-twelve {
        padding-left: 576px;
    }

    .container .offset-by-thirteen {
        padding-left: 624px;
    }

    .container .offset-by-fourteen {
        padding-left: 672px;
    }

    .container .offset-by-fifteen {
        padding-left: 720px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }

    .columns,.column {
        margin: 0;
    }

    .container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.column {
        width: 300px;
    }

    .container .offset-by-one,.container .offset-by-two,.container .offset-by-three,.container .offset-by-four,.container .offset-by-five,.container .offset-by-six,.container .offset-by-seven,.container .offset-by-eight,.container .offset-by-nine,.container .offset-by-ten,.container .offset-by-eleven,.container .offset-by-twelve,.container .offset-by-thirteen,.container .offset-by-fourteen,.container .offset-by-fifteen {
        padding-left: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 420px;
    }

    .columns,.column {
        margin: 0;
    }

    .container .one.column,.container .two.columns,.container .three.columns,.container .four.columns,.container .five.columns,.container .six.columns,.container .seven.columns,.container .eight.columns,.container .nine.columns,.container .ten.columns,.container .eleven.columns,.container .twelve.columns,.container .thirteen.columns,.container .fourteen.columns,.container .fifteen.columns,.container .sixteen.columns,.container .one-third.column,.container .two-thirds.column {
        width: 420px;
    }
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:before,.clearfix:after,.row:before,.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,.clearfix:after {
    clear: both;
}

.row,.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

body {
    color: #4c4c4c;
    background: #eee url('../images/concrete_wall_3.jpg') repeat;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
}

html,body,input,button,input[type="text"],input[type="password"],input[type="email"],textarea,select {
    font: 14px/18px 'SourceSans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #404040;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6 {
    color: #efefef;
    text-shadow: none;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
}

h3 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}

h4 {
    font-size: 17px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 21px;
}

h6 {
    font-size: 13px;
    line-height: 19px;
}

.subheader {
    color: #777;
}

.dark .subheader {
    color: #aaa;
    text-shadow: none;
}

p {
    margin: 0 0 20px 0;
}

p:last-child {
    margin-bottom: 0;
}

p img {
    margin: 0;
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: #333;
}

.dark strong {
    color: #dbdbdb;
}

small {
    font-size: 80%;
}

blockquote,blockquote p {
    font-size: 15px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}

blockquote {
    margin: 0 0 10px 20px;
    padding: 0px 20px 0 19px;
    border-left: 1px solid #ddd;
}

blockquote cite {
    display: block;
    font-size: 14px;
    color: #555;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,blockquote cite a:visited,blockquote cite a:visited {
    color: #555;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    clear: both;
    margin: 10px 0;
    height: 0;
}

.between-rows {
    margin: 10px 0 20px;
}

.dark hr {
    border-top: 1px solid #000;
    border-bottom: 1px solid #2c2c2c;
}

::selection {
    color: #fff;
    -webkit-text-fill-color: #fff;
    background: rgba(34, 34, 34, .99);
    text-shadow: none !important;
}

.dark ::selection {
    color: #111;
    -webkit-text-fill-color: #111;
    background: rgba(255, 255, 255, .99);
    text-shadow: none !important;
}

img::selection {
    background: rgba(0, 0, 0, .3);
}

.dark img::selection {
    background: rgba(0, 0, 0, .3);
}

::-moz-selection {
    color: #fff;
    -webkit-text-fill-color: #fff;
    background: rgba(34, 34, 34, .99);
    text-shadow: none;
}

.dark ::-moz-selection {
    color: #111;
    -webkit-text-fill-color: #111;
    background: rgba(255, 255, 255, .99);
    text-shadow: none;
}

img::-moz-selection {
    background: rgba(0, 0, 0, .3);
}

.dark img::-moz-selection {
    background: rgba(0, 0, 0, .3);
}

a,a:visited,button,input[type="submit"] {
    color: #0b81be;
    text-decoration: none;
    outline: 0;
    -webkit-transition: color 1s ease, box-shadow 1s ease, background 0.3s ease;
    -moz-transition: color 1s ease, box-shadow 1s ease, background 0.3s ease;
    -o-transition: color 1s ease, box-shadow 1s ease, background 0.3s ease;
    transition: color 1s ease, box-shadow 1s ease, background 0.3s ease;
}

a:hover,a:focus,button:hover,input[type="submit"]:hover {
    color: #000;
    -webkit-transition: color 0.1s ease, box-shadow 0.3s ease, background 0.3s ease;
    -moz-transition: color 0.1s ease, box-shadow 0.3s ease, background 0.3s ease;
    -o-transition: color 0.1s ease, box-shadow 0.3s ease, background 0.3s ease;
    transition: color 0.1s ease, box-shadow 0.3s ease, background 0.3s ease;
}

a:hover {
    text-decoration: none;
}

p a,p a:visited {
    line-height: inherit;
}

.dark a,.dark a:visited {
    color: #37b1ff;
}

.dark a:hover,.dark a:focus {
    color: #fff;
}

a img {
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

a:hover img {
    text-decoration: none;
    zoom: 1;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: all 0 ease !important;
    transition: none !important;
}

ul,ol {
    margin-bottom: 20px;
}

ul {
    list-style: none outside;
}

ol {
    list-style: decimal;
}

ol,ul.square,ul.circle,ul.disc {
    margin-left: 30px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul,ul ol,ol ol,ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}

ul ul li,ul ol li,ol ol li,ol ul li {
    margin-bottom: 6px;
}

li {
    line-height: 18px;
    margin-bottom: 12px;
}

ul.large li {
    line-height: 21px;
}

ul.line li {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 0;
    margin: 0;
}

.dark ul.line li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

ul.line li:first-child {
    border-top: none;
}

ul.line li:last-child {
    border-bottom: none;
}

ul.line.small li {
    padding: 5px 0;
}

ul.line.links li {
    padding: 0;
}

ul.line.links li a {
    display: block;
    padding: 10px 0;
}

.scale-with-grid {
    max-width: 100%;
    height: auto;
}

.alignright {
    float: right;
    margin: 0 0 10px 20px;
}

.alignleft {
    float: left;
    margin: 0 20px 10px 0;
}

a.button[href ^= '#'] {
    padding-right: 35px !important;
}

a.button[href ^= '#'] span {
    display: inline-block;
    width: 9px;
    height: 34px;
    margin: -9px 0 0 8px;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: transparent url("../images/SparkEdgeCombined.v1.1.png") repeat-y scroll -9px -5px;
}

a.button[href ^= '#']:hover span {
    background-position: -9px 75px;
}

.dark a.button[href ^= '#'] span {
    background-position: left -5px;
}

.dark a.button[href ^= '#']:hover span {
    background-position: left 75px;
}

a.button,a.button:visited,button,input[type="submit"],input[type="reset"],input[type="button"] {
    background-color: #fff;
    color: #555;
    border: 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    line-height: 15px;
    padding: 10px 18px 9px 18px;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 0px 0px #222 inset;
    -moz-box-shadow: 0px 0px 0px 0px #222 inset;
    box-shadow: 0px 0px 0px 0px #222 inset;
}

a.button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover {
    background-color: #222;
    color: #000;
    -webkit-box-shadow: 0px 31px 0px 0px #fff inset;
    -moz-box-shadow: 0px 31px 0px 0px #fff inset;
    box-shadow: 0px 31px 0px 0px #fff inset;
}

a.button:active,button:active,input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active {
    background-color: #ddd;
    -webkit-box-shadow: 0px 34px 0px 0px #ddd inset;
    -moz-box-shadow: 0px 34px 0px 0px #ddd inset;
    box-shadow: 0px 34px 0px 0px #ddd inset;
}

.ie7 a.button:hover,.ie7 button:hover,.ie7 input[type="submit"]:hover,.ie7 input[type="reset"]:hover,.ie7 input[type="button"]:hover,.ie8 a.button:hover,.ie8 button:hover,.ie8 input[type="submit"]:hover,.ie8 input[type="reset"]:hover,.ie8 input[type="button"]:hover {
    color: #fff;
}

.ie7 a.button[href ^= '#'],.ie8 a.button[href ^= '#'] {
    padding-right: 18px !important;
}

.dark a.button,.dark a.button:visited,.dark button,.dark input[type="submit"],.dark input[type="reset"],.dark input[type="button"] {
    background-color: #222;
    border: none;
    color: #ccc;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 0px 0px #292929 inset;
    -moz-box-shadow: 0px 0px 0px 0px #292929 inset;
    box-shadow: 0px 0px 0px 0px #292929 inset;
}

.dark a.button:hover,.dark button:hover,.dark input[type="submit"]:hover,.dark input[type="reset"]:hover,.dark input[type="button"]:hover {
    background-color: #000;
    color: #fff;
    -webkit-box-shadow: 0px 30px 0px 0px #292929 inset;
    -moz-box-shadow: 0px 30px 0px 0px #292929 inset;
    box-shadow: 0px 30px 0px 0px #292929 inset;
}

.dark a.button:active,.dark button:active,.dark input[type="submit"]:active,.dark input[type="reset"]:active,.dark input[type="button"]:active {
    background-color: #000;
    color: #ccc;
    -webkit-box-shadow: 0px 34px 0px 0px #000 inset;
    -moz-box-shadow: 0px 34px 0px 0px #000 inset;
    box-shadow: 0px 34px 0px 0px #000 inset;
}

.button.full-width,button.full-width,input[type="submit"].full-width,input[type="reset"].full-width,input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}

textarea.full-width {
    width: 98%;
}

a.button.featured,a.button.featured:visited,button.featured,.button.featured,.button.call-to-action,.button.call-to-action:visited {
    display: block;
    width: 40%;
    text-align: center;
    margin: 10px auto 10px auto;
}

.tabs-slider {
    margin-bottom: 10px;
}

ul.tabs {
    display: block;
    margin: 0;
    padding: 0;
    height: 39px;
    background: #222;
    position: relative;
    z-index: 1;
}

.dark ul.tabs {
    border-color: #262626;
}

ul.tabs li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

ul.tabs li a {
    background: transparent url('../images/SparkEdgeCombined.v1.1.png') center -12px no-repeat;
    display: block;
    height: 35px;
    text-decoration: none;
    padding: 12px 20px 0 20px;
    color: #999;
    -webkit-transition: background 1s ease, color 1s ease;
    -moz-transition: background 1s ease, color 1s ease;
    -o-transition: background 1s ease, color 1s ease;
    transition: background 1s ease, color 1s ease;
}

ul.tabs li a:hover {
    color: #fff;
    -webkit-transition: background 0.3s ease, color 0.3s ease;
    -moz-transition: background 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, color 0.3s ease;
}

ul.tabs li a.active {
    background: transparent url('../images/SparkEdgeCombined.v1.1.png') center bottom no-repeat;
    color: #fff;
}

ul.tabs-content {
    background: #f6f6f6;
    color: #4c4c4c;
    margin: 0;
    padding: 20px 0 10px 0;
    display: block;
    border: solid 1px #ddd;
    border-width: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.inner-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.dark ul.tabs li a {
    background: #0e0e0e;
    border-color: #262626;
}

.dark ul.tabs li a:hover {
    background: #090909;
    color: #fff;
}

.dark ul.tabs li a.active {
    background: #171717;
    border-color: #2C2C2C;
    color: #fff;
}

.dark ul.tabs-content {
    background: #171717;
    color: #ccc;
    border-color: #262626;
}

ul.tabs-content > li {
    display: none;
}

ul.tabs-content > li.active {
    display: block;
}

ul.tabs:before,ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

ul.tabs:after {
    clear: both;
}

ul.tabs {
    zoom: 1;
}

form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"],input[type="password"],input[type="email"],textarea,select {
    border: 1px solid #cdcdcd;
    padding: 10px;
    line-height: 15px;
    padding: 10px 10px 9px 10px;
    margin: 0;
    outline: none;
    color: #777;
    width: 100%;
    max-width: 100%;
    background: #fbfbfb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.6);
    -webkit-transition: border 0.1s ease, background 0.3s ease, box-shadow 0.2s ease, color 0.6s ease;
    -moz-transition: border 0.1s ease, background 0.3s ease, box-shadow 0.2s ease, color 0.6s ease;
    -o-transition: border 0.1s ease, background 0.3s ease, box-shadow 0.2s ease, color 0.6s ease;
    transition: border 0.1s ease, background 0.3s ease, box-shadow 0.2s ease, color 0.6s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    padding: 0;
}

input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover,textarea:hover {
    border-color: #b5b5b5;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
    border: 1px solid #00B4FF;
    color: #444;
    background: #fff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 200, 255, .4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 200, 255, .4);
    box-shadow: 0px 0px 10px rgba(0, 200, 255, .4);
}

.dark input[type="text"]:focus,.dark input[type="password"]:focus,.dark input[type="email"]:focus,.dark textarea:focus {
    border: 1px solid #282828;
    color: #fff;
    background: #191919;
    -webkit-box-shadow: 0 0 0 transparent, 1px 1px 5px 1px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 0 0 0 transparent, 1px 1px 5px 1px rgba(0, 0, 0, 1) inset;
    box-shadow: 0 0 0 transparent, 1px 1px 5px 1px rgba(0, 0, 0, 1) inset;
}

textarea {
    min-height: 130px;
    overflow: auto;
}

label,legend {
    display: block;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 3px;
}

select {
    width: 220px;
}

input[type="checkbox"] {
    display: inline;
}

label span,legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}

.ajax-response {
    margin: 6px 0 0 5px;
}

.form-error-msg {
    margin: 6px 0 0 5px;
    color: #d82f2f;
}

.form-error {
    -webkit-box-shadow: 0 0px 15px -5px #FF0000 !important;
    -moz-box-shadow: 0 0px 15px -5px #FF0000 !important;
    box-shadow: 0 0px 15px -5px #FF0000 !important;
    border: 1px solid rgba(255, 0, 0, 0.5) !important;
}

.dark input[type="text"].form-error:focus,.dark input[type="password"].form-error:focus,.dark input[type="email"].form-error:focus,.dark textarea.form-error:focus {
    -webkit-box-shadow: 0 0px 15px -5px #FF0000, 1px 1px 5px 1px rgba(0, 0, 0, 1) inset !important;
    -moz-box-shadow: 0 0px 15px -5px #FF0000, 1px 1px 5px 1px rgba(0, 0, 0, 1) inset !important;
    box-shadow: 0 0px 15px -5px #FF0000, 1px 1px 5px 1px rgba(0, 0, 0, 1) inset !important;
}

form li {
    float: left;
    padding: 3px;
    margin: 3px 0;
    background: #111;
    background: none;
}

form li label {
    width: 150px;
    float: left;
    text-align: right;
    padding-right: 15px;
}

form li label span {
    color: #999;
    display: block;
}

form button {
    float: right;
}

form.search-form img {
    position: absolute;
    margin: -4px 0 0 0;
}

form.search-form input.search-field {
    padding: 13px 80px 10px 45px;
    float: right;
}

form.search-form input[type="submit"],form.search-form button {
    position: relative;
    float: right;
    margin: 3px 0 0 -80px;
    margin: -37px 3px 0 0;
}

.ie7 form.search-form img {
    margin-top: -44px;
}

.ie7 form.search-form input[type="submit"],.ie7 form.search-form button {
    margin: -37px 1px 0 0;
    line-height: 12px;
}

.ie7 form.search-form input.search-field {
    width: 175px;
}

.remove-bottom {
    margin-bottom: 0 !important;
}

.half-bottom {
    margin-bottom: 10px !important;
}

.add-bottom {
    margin-bottom: 20px !important;
}

.add-more-bottom {
    margin-bottom: 40px !important;
}

.add-top {
    margin-top: 10px !important;
}

.add-more-top {
    margin-top: 20px !important;
}

header {
    background: #222;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header a.logo {
    display: block;
    float: left;
    height: 50px;
    padding: 17px 0 13px 0;
}

header nav ul {
    float: right;
    margin-bottom: 0;
}

header nav li {
    list-style: none;
    display: block;
    float: left;
    margin-bottom: 0;
}

header.compact-header {
    height: 50px;
    position: fixed;
}

header.compact-header nav a,header.compact-header nav.no-subtitles a {
    padding-top: 17px;
}

header.compact-header a.logo {
    padding: 0;
}

header.compact-header nav li a span,header nav.no-subtitles li a span {
    display: none;
}

.landing-page header nav a:not([href ^= '#']) {
    background: transparent url(../images/external-link-arrow.png) no-repeat right 26px;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    padding-right: 20px;
    margin-right: 8px;
}

.landing-page header.compact-header nav a:not([href ^= '#']) {
    background: transparent url(../images/external-link-arrow.png) no-repeat right 18px;
}

nav a,nav a:visited,nav a:focus {
    text-decoration: none;
    display: block;
    height: 43px;
    padding: 25px 15px 0 15px;
    text-decoration: none;
    color: #999;
    font-weight: normal;
    background: transparent url('../images/SparkEdgeCombined.v1.1.png') center 10px no-repeat;
    -webkit-transition: color 0.2s ease, background 0.2s ease;
    -moz-transition: color 0.2s ease, background 0.2s ease;
    -o-transition: color 0.2s ease, background 0.2s ease;
    transition: color 0.2s ease, background 0.2s ease;
}

nav a:hover,nav a:focus:hover {
    text-decoration: none;
    color: #fff;
}

nav a.active,nav a.active:focus {
    color: #fff;
    background: url('../images/SparkEdgeCombined.v1.1.png') center bottom no-repeat;
}

nav a.active:hover {
    color: #fff;
    cursor: default;
}

nav a span {
    color: #888;
    font-size: 12px;
    font-weight: normal;
}

.welcome-block {
    padding: 100px 0 30px 0;
    margin-bottom: 40px;
}

.welcome-text {
    text-align: center;
}

footer {
    padding: 30px 0;
    margin-top: 50px;
}

.footer-notice {
    text-align: right;
}

.footer-notice span {
    float: left;
}

.footer-notice span img {
    float: left;
    margin: -5px 5px 0 0;
}

article {
    padding: 60px 0 0 0;
}

article.has-welcome-block {
    padding-top: 0px;
}

article.no-welcome-block {
    padding-top: 100px;
}

article .row:last-of-type {
    margin-bottom: 0;
}

.mobiles-only,.tablets-only {
    display: none;
}

.hide-for-mobiles,.hide-for-tablets {
    display: block;
}

.dark {
    background: #222;
    color: #aaa;
}

.box {
    background: #fff;
    display: block;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px #d5d5d5;
    -moz-box-shadow: 0 0 5px #d5d5d5;
    box-shadow: 0 0 5px #d5d5d5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.container .column.box,.container .columns.box {
    margin-left: 0;
    margin-right: 0;
}

.container .row.box {
    padding: 10px 0;
}

.dark .container .column.box,.dark .container .columns.box,.dark .box,.dark .box.dark {
    background: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #2c2c2c;
    margin-left: -1px;
    margin-right: -1px;
}

.box.dark {
    background: #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #fff;
    background: #212121 url("../images/black_paper.jpg") repeat;
}

.box.light {
    background: rgba(255,255,255,0.5);
}

.dark .container .column.box.light,.dark .container .columns.box.light,.dark .box.light,.dark .box.light {
    background: rgba(0,0,0,0.3);
}

.box.scale-with-grid {
    max-width: 90%;
}

.box.featured {
    margin-top: -15px;
    padding-top: 15px;
}

img.featured {
    border: 7px solid #222;
    border-width: 7px 0 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.imglink {
    text-decoration: none;
}

img.icon-white {
    background: #fff;
}

img.icon-black {
    background: #222;
}

.feature-box {
    padding: 10px;
    margin: 0;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.feature-box:hover {
    background: rgba(255, 255, 255, 0.5);
}

.feature-box.simple:hover {
    background: none;
}

.feature-box img.icon,.feature-box img.icon-white,.feature-box img.icon-black {
    float: left;
}

.feature-box h3 {
    margin: 3px 0 0 65px;
}

.feature-box.simple h3 {
    margin: 12px 0 18px 65px;
}

.feature-box h6 {
    margin: -5px 0 12px 65px;
}

.feature-box h6:last-child {
    margin-bottom: 0;
}

.feature-box.blog-post {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
}

.feature-box.blog-post:last-child {
    margin-bottom: 0;
}

.post-meta {
    font-size: 13px;
}

.post-meta a,.post-meta a:visited {
    color: #424242;
}

.post-meta a:hover,.post-meta a:visited:hover {
    color: #0b81be;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.welcome-container {
    padding: 10px 20px;
}

.pricing-box.highlight {
    background: rgba(255,255,255,0.5);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.pricing-box p {
    padding-left: 10px;
    padding-right: 10px;
}

.pricing-header {
    text-align: center;
    padding: 10px 10px 0 10px;
    margin-bottom: 17px;
    height: 62px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.pricing-header h2,.pricing-header h3 {
    margin-bottom: 0;
}

.pricing-header h6 {
    background: transparent url('../images/SparkEdgeCombined.v1.1.png') center bottom no-repeat;
    padding-bottom: 20px;
    position: relative;
}

.main-slider {
    height: 270px;
}

.compact-header-visualfix {
    background: #222;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.enjoliver {
    position: relative;
    line-height: 0px !important;
    float: left;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 7px;
    border-radius: 0px;
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.02) inset;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.02) inset;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.02) inset;
}

.enjoliver img {
    -webkit-box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.4);
}

.enjoliver:before,.enjoliver:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10px;
    bottom: 12px;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55%;
    -webkit-box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    -ms-transform: skew(-15deg) rotate(-6deg);
    -o-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
}

.enjoliver:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    -ms-transform: skew(15deg) rotate(6deg);
    -o-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,.video object,.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexslider .slides,.flexslider li .slides li,.flexslider li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    zoom: 1;
    position: relative;
}

.flexslider .slides > li {
    display: none;
}

.flexslider .slides > li:first-child {
    display: block;
}

.flexslider .slides img {
    max-width: 100%;
    height: auto;
    display: block;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides > li {
    position: relative;
}

.flex-control-nav {
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 6px;
    text-align: right;
}

.flex-control-nav li {
    margin: 2px 0px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-nav li a {
    width: 18px;
    height: 13px;
    display: block;
    background: url(../images/SparkEdgeCombined.v1.1.png) no-repeat -18px 0px;
    cursor: pointer;
    text-align: left;
    text-indent: -9999px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: all 0 ease;
    transition: none;
}

ol.flex-control-nav {
    margin: 0;
    padding: 0;
}

.flex-control-nav li a:hover {
    background-position: -18px -13px;
}

.flex-control-nav li a.active {
    background-position: -18px -26px;
    cursor: default;
}

.flexslider .caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    height: 270px;
    background: url('../images/main-slider_caption-background.png') no-repeat;
    padding: 27px 10px 0 30px;
}

@media only screen and (min-width: 960px) {
    nav.no-subtitles a,nav.no-subtitles a:focus {
        padding-top: 34px;
    }

    .landing-page nav.no-subtitles a:not([href ^= '#']) {
        background-position: right 35px;
    }
}

@media only screen and (max-width: 959px) {
    nav li a,nav li a:visited,nav li a:focus {
        padding: 34px 10px 0px 10px;
    }

    .compact-header nav li a,.compact-header nav li a:visited,.compact-header nav li a:focus {
        padding-top: 17px;
    }

    nav li a span {
        display: none;
    }

    .landing-page header nav a:not([href ^= '#']) {
        background-position: right 35px;
        padding-right: 19px;
    }

    .landing-page header.compact-header nav a:not([href ^= '#']) {
        background-position: right 18px;
    }

    .feature-box {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .tablets-only {
        display: block;
    }

    .hide-for-tablets {
        display: none;
    }

    .flexslider .slides .caption {
        right: -198px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .flexslider .slides .caption:hover,.flexslider .slides .caption.ios-hover-fix {
        right: 0;
    }

    .flexslider.animation-fade .slides > li {
        overflow: hidden;
    }
}

@media only screen and (max-width: 767px) {
    .mobiles-only {
        display: block;
    }

    .hide-for-mobiles {
        display: none;
    }

    header nav ul {
        float: left;
        height: 50px;
    }

    header nav li a,header nav li a:visited,header nav li a:focus {
        padding: 17px 7px 0px 7px;
    }

    .landing-page header nav li a:not([href ^= '#']) {
        background-position: right 18px;
        padding-right: 19px;
        margin-right: 5px;
    }

    header a.logo {
        display: block;
        text-align: center;
        float: none;
        width: auto;
    }

    header.compact-header .logo {
        display: none;
    }

    article.has-welcome-block {
        padding-top: 0px;
    }

    article.no-welcome-block {
        padding-top: 140px;
    }

    .welcome-block {
        padding-top: 140px;
    }

    p:last-child {
        margin-bottom: 20px;
    }

    .inner-padding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .inner-padding p,.inner-padding h2,.inner-padding h3,.inner-padding h4 {
        margin-left: 10px;
        margin-bottom: 10px;
    }

    ul.tabs li a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .flexslider .slides .caption {
        position: static;
        width: auto;
        height: 210px;
        background: #303030;
        padding: 15px 20px 15px 20px;
    }

    .pricing-box {
        margin-bottom: 10px;
    }

    .pricing-box:last-child {
        margin-bottom: 0;
    }

    .feature-box.blog-post:last-child {
        margin-bottom: 20px;
    }

    .column.feature-box,.columns.feature-box {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main-slider {
        height: 414px;
    }
}

@media only screen and (max-width: 479px) {
    .hide-for-mobiles-portrait {
        display: none;
    }

    header nav li a,header nav li a:visited,header nav li a:focus {
        padding: 17px 4px 0px 4px;
    }

    .landing-page header nav li a:not([href ^= '#']) {
        background-position: right 18px;
        padding-right: 19px;
        margin-right: 2px;
    }

    ul.tabs li a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .main-slider {
        height: 365px;
    }
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes "shake" {
    0%,100% {
        -webkit-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes "shake" {
    0%,100% {
        -moz-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -moz-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%, 100% {
        -o-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -o-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -o-transform: translateX(10px);
    }@    keyframes "shake" {
        0%,100%{transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes "fadeInUp" {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes "fadeInUp" {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }@    keyframes "fadeInUp" {
        0%{opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes "fadeInDown" {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes "fadeInDown" {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }@    keyframes "fadeInDown" {
        0%{opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes "fadeOutUp" {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes "fadeOutUp" {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
}

@-o-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }@    keyframes "fadeOutUp" {
        0%{opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    -moz-animation-name: fadeOutUp;
    -o-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

@-webkit-keyframes "fadeOutDown" {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
}

@-moz-keyframes "fadeOutDown" {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
}

@-o-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(20px);
    }@    keyframes "fadeOutDown" {
        0%{opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}